@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --container-w: 92%;
  }
  @screen sm {
    :root {
      --container-w: clamp(327px, 90%, 1000px);
    }
  }
  @screen 2xl {
    :root {
      --container-w: clamp(1000px, 85%, 1110px);
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: "Public Sans", sans-serif;
    @apply text-lightBlue bg-[#EDF3F8] relative;
  }
  img {
    display: block;
    max-width: 100%;
  }
  a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  a:hover {
    color: inherit;
  }
}
input,
textarea,
button,
select,
a, .cta {
  -webkit-tap-highlight-color: transparent;
}

.heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
}

.heading1,
.heading2 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.25px;
}

.heading1 {
  @apply text-darkBlue;
}

@screen md {
  .heading1,
  .heading2,
  .heading3 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
}
@screen xl {
  .heading1 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.55px;
  }
}
.heading2 {
  @apply text-linkWhite;
}

.heading3 {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.28px;
  @apply text-darkBlue;
}

.heading4 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.14px;
  @apply text-darkBlue;
}

.heading5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.18px;
}
@screen md {
  .heading5 {
    line-height: 40px;
  }
}

.heading6 {
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.43px;
}
@screen md {
  .heading6 {
    font-size: 48px;
    letter-spacing: -0.37px;
  }
}
@screen xl {
  .heading6 {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.43px;
  }
}

.paragraph {
  font-size: 15px;
  line-height: 28px;
}

.pricing-li {
  font-size: 16px;
  line-height: 28px;
  @apply text-darkBlue text-left;
}

.pricing-li li {
  opacity: 0.5;
  position: relative;
  @apply mb-2 last:mb-0;
}

.pricing-li li.active {
  opacity: 1;
}

.pricing-li li.active::before {
  content: url("/src/assets/shared/desktop/icon-check.svg");
  position: absolute;
  left: -28px;
}

/* general styles  */
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexAround {
  @apply flex justify-around items-center;
}

.flexStart {
  @apply flex justify-start items-center;
}

.flexEnd {
  @apply flex justify-end items-center;
}

.cta {
  font-size: 15px;
  letter-spacing: -0.12px;
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: bold;
  transition-duration: 0.15s;
}

.ctaPink {
  @apply text-linkWhite bg-darkPink;
}

.ctaPink:hover, .ctaPink:active, .ctaPink:focus {
  @apply bg-charmPink text-linkWhite;
}

.ctaNavy {
  @apply text-linkWhite bg-navy;
}

.ctaNavy:hover, .ctaNavy:active, .ctaNavy:focus {
  @apply text-navy bg-linkWhite;
}

.ctaAccess {
  @apply text-darkBlue border-[1px] border-darkBlue bg-linkWhite;
}

.ctaAccess:hover, .ctaAccess:active, .ctaAccess:focus {
  @apply text-linkWhite bg-darkBlue;
}

.sidebar {
  animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
.home-hero-bg {
  background: url("/src/assets/shared/desktop/bg-pattern-circle.svg") no-repeat bottom center;
  background-size: 150%;
}
@screen xl {
  .home-hero-bg {
    background-position: right -150px bottom 0;
    background-size: 60%;
  }
}

.boxShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input,
textarea {
  -webkit-border-radius: 0;
  outline: none;
  @apply text-darkBlue text-[15px] leading-[25px] caret-darkPink;
}

.subscribe input:-webkit-autofill,
.subscribe input:-webkit-autofill:hover,
.subscribe input:-webkit-autofill:focus,
.subscribe input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background-clip: content-box !important;
  -webkit-text-fill-color: #36536b !important;
}

.home-clients-bg {
  background: url("/src/assets/shared/desktop/bg-pattern-circle.svg"), #1B262F;
  background-repeat: no-repeat;
  background-position: bottom 450px center;
  background-size: 150%;
}
@screen md {
  .home-clients-bg {
    background-position: bottom 350px center;
    background-size: cover;
  }
}
@screen xl {
  .home-clients-bg {
    background-position: bottom 50px left -250px;
    background-size: 60%;
  }
}

@screen xl {
  .home-features-bg {
    background: url("/src/assets/shared/desktop/bg-pattern-circle.svg") no-repeat right -40% bottom 0;
    background-size: 50%;
  }
  .about-team-bg {
    background: url("/src/assets/shared/desktop/bg-pattern-circle.svg") no-repeat left -60% bottom 0;
    background-size: contain;
  }
}
.home-footer-bg {
  background: url("/src/assets/shared/desktop/bg-pattern-circle.svg"), #1B262F;
  background-repeat: no-repeat;
  background-position: top 170px center;
}
@screen md {
  .home-footer-bg {
    background-position: top -50px right -200px;
  }
}

.socials svg path:hover {
  @apply fill-charmPink;
}

.contact input,
.contact textarea {
  background: #EDF3F8;
  @apply border-b-[1px] border-darkBlue/50;
  padding: 24px 0 16px 20px;
}

.contact input:-webkit-autofill,
.contact input:-webkit-autofill:hover,
.contact input:-webkit-autofill:focus,
.contact input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #EDF3F8 inset !important;
  background-clip: content-box !important;
  -webkit-text-fill-color: #36536b !important;
}

.contact label {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.12px;
}

input[type=checkbox] {
  @apply bg-darkBlue/25;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 0;
  transform: translateY(-0.075em);
  border: none;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
}

input[type=checkbox]:checked {
  @apply bg-darkPink;
}

input[type=checkbox]::before {
  content: url("/src/assets/shared/desktop/check-white.svg");
  width: 24px;
  height: 24px;
  transform: scale(0);
  transition: 120ms ease-in-out;
  margin-left: 10px;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}/*# sourceMappingURL=index.css.map */